<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="/css/estilosForm.css">

    <title>Agregar Préstamo</title>
  </head>
  <body>

    <!-- ============ HEADER ============-->
    <header>
        <!-- ============ NAV ============-->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" th:href="@{/}">📚</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/libreria}">Libreria</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/libros}">Libros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/autores}">Autores</a>          
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/editoriales}">Editoriales</a>          
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" th:href="@{/prestamos}">Préstamos</a>          
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/clientes}">Clientes</a>          
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">🔎</button>
                </form>
              </div>
            </div>
        </nav>
     </header>

     <!-- ============ SECTION ============-->
     <section id="form">
        <!-- ============ FORMULARIO ============-->
        <form th:action="@{/prestamos/agregarPrestamo}" th:object=${prestamo} method="POST" class="form">
            <div class="form__container">
                <h2 class="form__title">Datos del Préstamo</h2>

                <label class="form__label" for="">Cliente:</label>
                <select class="form__input" name="idCliente" required>
                	<option selected disabled value="">Cliente</option>
                	<option th:each="cliente:${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}"></option>
                </select>

                <label class="form__label" for="">Libro:</label>
                <select class="form__input" name="idLibro" required>
                	<option selected disabled value="">Libro</option>
                	<option th:each="libro:${libros}" th:value="${libro.id}" th:text="${libro.titulo}"></option>
                </select>

                <label class="form__label" for="">Fecha Préstamo:</label>
                <input name="fechaPrestamo" th:value="${fechaPrestamo}" type="text" class="form__input" required readonly>
                
                <label class="form__label" for="">Fecha Devolución:</label>
                <input name="fechaDevolucion" th:value="${fechaDevolucion}" type="date" class="form__input" required>
                
                <p th:if="${Error != null}" th:text="${Error}"></p>

                <input type="submit" value="Agregar" class="form__button">
                
                <a th:href="@{/prestamos}" class="btn btn-secondary btn_volver">Volver</a>
            </div>
        </form>
     </section>


     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 </body>
</html>