body{
    margin: 50px 0px 0px 0px;
    background-image: url("https://images2.alphacoders.com/261/thumb-1920-26102.jpg");    
}

section div img{
    width: 100%;
}

#tabla{
	margin-top: 150px;
}

.titulo{
	margin: auto;
	border-radius: 50px;
	width: 18%;
}

.titulo h1{
	text-align: center;
	margin-bottom: 50px;
	color: white;
	font-family: console;
}

.boton-tabla{
	width: 90%;
	margin: auto;
}

.tablas{   
    height: 300px;   
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0.9;
}

.btn{
	border-color: black;
}

.btn_agregar{
    margin: 30px 0 10px 0px; 
}

.buscador{
	width: 15%;
	height: 45px;
	margin: 12px 0 0px 0px;
	border-radius: 5px;
	border-color: white;
	color: white;
}

.btn_buscar{
	margin: 0px 0 0px 0px;
	border-color: white;
	height: 40px;
	width: 42px;
}

.btn_buscar:hover{
	border-color: black;
}

.btn_actualizar{
	margin: 0px 0 5px 20px;
	border-color: white;
	height: 40px;
	width: 42px;
}

thead tr th{ 
    position: sticky;
    top: 0;
    z-index: 10;
}

thead {
    height: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

th, td{
	text-align: center;
}

p{
	color: red;
}