body{
    margin: 50px 0px 0px 0px;
    background-image: url("https://images2.alphacoders.com/261/thumb-1920-26102.jpg");    
}

section div img{
    width: 100%;
}

#tabla{
	margin-top: 150px;
}

.titulo{
	margin: auto;
	border-radius: 50px;
	width: 18%;
}

.titulo h1{
	text-align: center;
	margin-bottom: 50px;
	color: white;
	font-family: console;
}

.boton-tabla{
	width: 90%;
	margin: auto;
}

.tablas{   
    height: 350px;   
    overflow-y: scroll; /* agregar scroll a la tabla */
    opacity: 0.9;
}

.btn{
	border-color: black;
}

.btn_agregar{
    margin: 30px 0 10px 0px; 
}

th, td{
	text-align: center;
}