body{
    margin: 0;
    background-image: url("/img/fondoFormulario.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#form{
	margin-top: 90px;
	height: 100%;
}

.form{
    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 16px;
    padding: 35px 25px;
    padding-bottom: 25px;
    opacity: 0.8;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form__container{
    width: 100%;
    display: grid;
    gap: 15px;
    grid-auto-columns: 100%;
}

.form__title{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #FFF;
}

.form__label{
	color: white;
	font-weight: bold;
}

.form__input{
    font-size: 16px;
    padding: 10px 16px;
    outline: none;
    border: none;
    border: 1px solid #0084ff;
    border-radius: 4px;
}

.form__button{
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    background-color: #089FE0;
    color: #FFF;
    border: none;
    padding: 10px 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

.form__button:hover{
    background-color: #7ebeda;
    color: #FFF;
}

.form p{
	color: red;
}

.btn_volver{
	height: 45px;
	font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}

@media (max-width: 450px){
    .form{
        padding: 50px 16px;
    }
}